---
layout: home
title: Casey Carroll
link: home
---
<section class="section-with-divider flow">
    <div class="avatar-wrapper cover">
        <picture>
            <source srcset="/assets/images/profile_thumbnail.webp">
            <img class="avatar" src="/assets/images/profile_thumbnail.webp" alt="Picture of Casey Carroll">
        </picture>
    </div>
    <h1><span aria-hidden="true" class="waving-hand">👋</span>Hey, I'm Casey</h1>
    <p>
        I'm a front-end web developer living in Portland, OR. I spend my free time cycling, listening to music and
        hanging out with my cat, Monad.
    </p>
    <ul role="list" class="cluster link-pill-list unstyled-list">
        <li>
            <div class="link-pill">
                {% include github_icon.html %}
                <a href="https://github.com/caseycarroll">Github</a>
                <span class="visually-hidden">external link</span>
            </div>
        </li>
        <li>
            <div class="link-pill">
                {% include linkedin_icon.html %}
                <a href="https://www.linkedin.com/in/casey-carroll-dev/">LinkedIn</a>
                <span class="visually-hidden">external link</span>
            </div>
        </li>
        <li>
            <div class="link-pill">
                {% include instagram_icon.html %}
                <a href="https://www.instagram.com/ccpzza/">Instagram</a>
                <span class="visually-hidden">external link</span>
            </div>
        </li>
        <li>
            <div class="link-pill">
                {% include twitter_icon.html %}
                <a href="https://twitter.com/casey_c_dev">Twitter</a>
                <span class="visually-hidden">external link</span>
            </div>
        </li>
    </ul>
</section>

<h2>Where I've Worked</h2>
<p>I leverage my knowledge of web performance and accessibility to help build fast and resilient websites. </p>
<h3><a href="www.rei.com">REI</a> <span class="subheader">2022-Present</span></h3>
<p>As a <b>Senior Web Performance Engineer</b>, I lead initiatives to improve site speed for REI customers.</p>
<h3><a href="www.usaa.com">USAA</a> <span class="subheader">2017-2022</span></h3>
<p>As a <b>Senior Front-end Web Developer</b>, I built and maintained the customer account dashboard.</p>