---
layout: default
title: Casey's Photography
link: photos
---
<div class="stack">
    <h1 class="reading-width">
        Photos
        <span class="subheader">Shots taken with a FujiFilm X100V 📸</span>
    </h1>
    <ul class="photo-grid">
        {% assign image_files = site.static_files | where: "image", true %}
        {% for myimage in image_files %}
            {% if myimage.extname == ".webp" and myimage.path contains "compressed" %}
            <li class="grid-item--{% increment image_counter %}">
                    <img class="grid-image" src="{{myimage.path}}" loading="lazy"/>
                   <!-- <img src="https://res.cloudinary.com/css-tricks/image/upload/f_auto,q_auto/v1568814785/photostream-photos/DSC05466_kwlv0n.jpg" alt="A Toyota Previa covered in graffiti" loading="lazy"> -->
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
