---
layout: default
title: Casey's Photography
link: photos
---
<div class="flow">
    <h1>
        Photos
        <span class="subheader secondary-text">Shots taken with a FujiFilm X100V 📸</span>
    </h1>
    <ul role="list" class="photo-grid unstyled-list">
        {% assign image_files = site.static_files | where: "image", true %}
        {% for myimage in image_files %}
            {% if myimage.extname == ".webp" and myimage.path contains "compressed" %}
            <li class="grid-item--{% increment image_counter %}">
                    <img class="grid-image" src="{{myimage.path}}" 
                    {% if forloop.index > 3 %}
                        loading="lazy"
                    {% endif %}
                    />
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
