<header>
    <nav>
        <ul role="list" class="cluster">
            <li>
                <a id="home" href="/" class="{%if page.link == "home" %}current-page{%endif%}">Home
                    {%if page.link == "home" %}
                        <span class="visually-hidden">current page</span>
                    {%endif%}
                </a>
            </li>
            <li>
                <a id="blog" href="/blog.html" class="{%if page.link == "blog" %}current-page{%endif%}"">Blog
                    {%if page.link == "blog" %}
                        <span class="visually-hidden">current page</span>
                    {%endif%}
            </a>
            </li>
            <li>
                <a id="photos" href="/photos.html" class="{%if page.link == "photos" %}current-page{%endif%}"">Photos
                    {%if page.link == "photos" %}
                        <span class="visually-hidden">current page</span>
                    {%endif%}
                </a>
            </li>
        </ul>
    </nav>
</header>