:root {
    --color-dark: #252525;
    --color-dark-lighter: #464343;
    --color-dark-lightest: #bbb;
    --color-primary-transparent: hsla(189, 16%, 25%, 0.15);
    --color-light: #f3f3f3;
    --color-primary: rgb(0, 128, 128);
    --color-secondary: rgb(211, 99, 247);
    --color-primary-light: rgb(209 239 239);
    --transparent-primary-color: rgb(0, 128, 128, 0.5);
    --transparent-secondary-color: rgb(211, 99, 247, 0.5);
    --step-font--1: clamp(0.90rem, calc(0.82rem + 0.38vw), 1.11rem);
    --step-font-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-font-1: clamp(1.27rem, calc(1.21rem + 0.25vw), 1.41rem);
    --step-font-2: clamp(1.42rem, calc(1.36rem + 0.28vw), 1.58rem);
    --step-font-3: clamp(1.60rem, calc(1.53rem + 0.32vw), 1.78rem);
    --step-font-4: clamp(1.80rem, calc(1.72rem + 0.36vw), 2.00rem);
    --step-font-5: clamp(2.03rem, calc(1.94rem + 0.40vw), 2.25rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);
    --shadow-color: 0deg 0% 65%;
    --shadow-elevation-low:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.29),
      0.8px 0.8px 1.3px -1.2px hsl(var(--shadow-color) / 0.29),
      1.8px 1.8px 2.9px -2.5px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-medium:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.31),
      1.5px 1.5px 2.4px -0.8px hsl(var(--shadow-color) / 0.31),
      3.7px 3.7px 5.9px -1.7px hsl(var(--shadow-color) / 0.31),
      9px 9px 14.3px -2.5px hsl(var(--shadow-color) / 0.31);
}

.max-width-container {
    max-width: 60ch;
    margin-inline: auto;
}

body {
    border-top-color: var(--color-primary);
    border-width: 10px;
    border-top-style: solid;
    background: var(--color-light);
    color: var(--color-dark);
    padding-inline: 2em;
    font-family: system-ui;
    font-size: var(--step-font-0);
    line-height: 1.5;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    max-width: 20ch;
    font-size: var(--step-font-4);
}

h2 {
    max-width: 25ch;
    font-size: var(--step-font-3);
}

h3 {
    max-width: 28ch;
    font-size: var(--step-font-2);
}

h4 {
    font-size: var(--step-font-1);
}
ul,
ol {
    padding-inline-start: var(--space-s);
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, h4, img, iframe) {
    --flow-space: var(--space-xl);
}

:is(h1, h2, h3, h4) + *:not(img, iframe, ul) {
    --flow-space: var(--space-xs);
}

header {
    font-size: var(--step-font-1);
    font-weight: bold;
}

nav li {
    background-color: transparent;
    padding: 0.3em 0.7em;
    transition: background-color 300ms cubic-bezier(.90, 0, 1, 1);
    border-radius: 1000vw;
}

nav li a {
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    nav li:hover {
        background-color: var(--color-primary-transparent);
        transition: background-color 200ms cubic-bezier(0, 0, .1, 1);
    }
    nav li:has(a:active) {
        box-shadow: inset 2px 2px 4px var(--color-primary-transparent);
        transition: box-shadow 200ms cubic-bezier(0, 0, .1, 1);
    }
}



header, footer {
    padding-block: var(--space-xl);
    padding-block-start: var(--space-l);
}

header .current-page {
    text-decoration-color: var(--color-secondary);
}

.section-with-divider {
    border-bottom: 1px solid var(--color-dark-lightest);
}

footer {
    border-top: 0.025em solid var(--color-dark-lightest);
    margin-block-start: 20vh;
}

footer .sub-text {
    font-size: var(--step-font--1);
}

a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
}

a:hover {
    text-underline-offset: 0.5ex;
}

.unstyled-list {
    padding-inline: 0;
}

.link-pill {
    font-size: var(--step-font--1);
    border: .025em solid var(--color-dark-lightest);
    border-radius: 5px;
    padding-block: 0.5em;
    padding-inline: 0.75em;
    background-color: var(--color-primary-light);
    position: relative;
    box-shadow: var(--shadow-elevation-low);
    will-change: transform;
    -webkit-tap-highlight-color: transparent;
    transition: 
        transform 200ms cubic-bezier(0, 0, .1, 1),
        box-shadow 200ms cubic-bezier(0, 0, .1, 1);
}

.link-pill a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (hover: hover) {
    li:hover .link-pill {
        transform: scale(1.03) translate(-3px, -3px);
        box-shadow: var(--shadow-elevation-medium);
    }
}


.cover {
    --shadow-offset: 12px;
    position: relative;
    left: var(--shadow-offset);
}

.avatar {
    border-radius: 50%;
    width: 120px;
    aspect-ratio: 1 / 1;
    background-color: var(--transparent-primary-color);
    box-shadow: calc(var(--shadow-offset) * -1) -6px 32px var(--transparent-primary-color), var(--shadow-offset) 6px 32px var(--transparent-secondary-color);
    border: var(--color-light) solid 1px;
}

.video-wrapper {
    width: 480px;
}

[class*=emphasis] {
    font-weight: 500;
}

.emphasis-l {
    font-weight: 500;
    font-size: var(--step-font-1);
}

.subheader {
    font-style: italic;
    display: block;
    font-size: var(--step-font--1);
    font-weight: normal;
    margin-block-start: var(--space-xs);
    color: var(--color-dark-lighter);
}