--- 
--- 
@import "reset";
@import "utilities";
@import "cluster";
@import "icon";
@import "cover";

:root {
    --color-dark: #252525;
    --color-dark-lighter: #464343;
    --color-dark-lightest: #bbb;
    --color-light: #f3f3f3;
    --color-primary: rgb(0, 128, 128);
    --color-secondary: rgb(211, 99, 247);
    --color-primary-light: rgb(209 239 239);
    --transparent-primary-color: rgb(0, 128, 128, 0.5);
    --transparent-secondary-color: rgb(211, 99, 247, 0.5);
    --step-font--1: clamp(0.90rem, calc(0.82rem + 0.38vw), 1.11rem);
    --step-font-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-font-1: clamp(1.27rem, calc(1.21rem + 0.25vw), 1.41rem);
    --step-font-2: clamp(1.42rem, calc(1.36rem + 0.28vw), 1.58rem);
    --step-font-3: clamp(1.60rem, calc(1.53rem + 0.32vw), 1.78rem);
    --step-font-4: clamp(1.80rem, calc(1.72rem + 0.36vw), 2.00rem);
    --step-font-5: clamp(2.03rem, calc(1.94rem + 0.40vw), 2.25rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);
}

body {
    border-top-color: var(--color-primary);
    border-width: 10px;
    border-top-style: solid;
    background: var(--color-light);
    color: var(--color-dark);
    padding-inline: 2em;
    font-family: system-ui;
    font-size: var(--step-font-0);
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: 700;
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    max-width: 20ch;
    font-size: var(--step-font-4);
}

h2 {
    max-width: 25ch;
    font-size: var(--step-font-3);
}

h3 {
    font-size: var(--step-font-2);
}

ul,
ol {
    padding-inline-start: var(--space-s);
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, img, iframe) {
    --flow-space: var(--space-xl);
}

:is(h1, h2, h3) + *:not(img, iframe, ul) {
    --flow-space: var(--space-xs);
}

header {
    font-size: var(--step-font-1);
    font-weight: bold;
}

header, footer {
    padding-block: var(--space-l);
}

header .current-page {
    text-decoration-color: var(--color-secondary);
}

footer {
    border-top: 0.025em solid var(--color-dark-lightest);
    margin-block-start: 20vh;
}

footer .sub-text {
    font-size: var(--step-font--1);
}

main {
    max-width: 60ch;
    margin-inline: auto;
}

a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
}

.unstyled-list {
    padding-inline: 0;
}

.link-pills > li {
    font-size: var(--step-font--1);
    border: .025em solid var(--color-dark-lightest);
    border-radius: 5px;
    padding-block: 0.5em;
    padding-inline: 0.75em;
    background-color: var(--color-primary-light);
    position: relative;
}

.link-pills a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.avatar {
    border-radius: 50%;
    width: 120px;
    aspect-ratio: 1 / 1;
    background-color: var(--transparent-primary-color);
    box-shadow: -12px -6px 32px var(--transparent-primary-color), 12px 6px 32px var(--transparent-secondary-color);
    border: var(--color-light) solid 1px;
}

.video-wrapper {
    width: 480px;
}

[class*=emphasis] {
    font-weight: 500;
}

.emphasis-l {
    font-weight: 500;
    font-size: var(--step-font-1);
}

.subheader {
    font-style: italic;
    display: block;
    font-size: var(--step-font--1);
    font-weight: normal;
    margin-block-start: var(--space-xs);
    color: var(--color-dark-lighter);
}