:root {
    --text-color: #222;
    --text-color-light: #515050;
    --space-sm: 0.75rem;
    --space-md: 1.5rem;
    --space-lg: 3rem;
    --space-xl: 6rem;
    --primary-color: rgb(0, 128, 128);
    --primary-color-text-safe: rgb(0 121 121);
    --primary-lighter-color: rgb(216, 215, 215);
    --primary-lighter-color-hover: rgb(194, 192, 192);
    --secondary-color: rgb(211, 99, 247);
    --secondary-color-text-safe: rgb(155 73 181);
    --transparent-primary-color: rgb(0, 128, 128, 0.5);
    --transparent-secondary-color: rgb(211, 99, 247, 0.5);
    color: var(--text-color);
    font-size: calc(0.33vw + 1em);
    font-family: system-ui;
}

::selection {
    background-color: var(--transparent-primary-color);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

body {
    border-top-color: var(--primary-color);
    border-width: 10px;
    border-top-style: solid;
    background-color: #f0f0f0;
    padding-block-start: 3rem;
    padding-inline: var(--space-md);
    display: grid;
    grid-template-columns: 1fr min(80ch, 100%) 1fr;
}

body > * {
    grid-column: 2;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: inherit;
}

header {
    align-items: baseline;
}

.unstyled-inline-list {
    display: flex;
    gap: var(--space-md);
}

.unstyled-inline-list li {
    list-style: none;
}

nav a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
}

nav a.current-page::after {
    content: '';
    position: absolute;
    background: var(--secondary-color);
    height: 0.2em;
    border-radius: 2px;
    left: 0;
    right: 0;
    bottom: -6px;
}

main {
    line-height: 1.5;
}

.secondary-text {
    color: var(--text-color-light);
}


[class*=cluster] {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--space-sm);
    column-gap: var(--space-sm);
}

.cluster--md {
    row-gap: var(--space-md);
    column-gap: var(--space-md);
}

.cluster--lg {
    row-gap: var(--space-lg);
    column-gap: var(--space-lg);
}

.stack > * + * {
    margin-block-start: var(--space-md);
}

.stack-sm > * + * {
    margin-block-start: var(--space-sm);
}

.stack-large > * + * {
    margin-block-start: var(--space-lg);
}

.stack-x-large > * + * {
    margin-block-start: var(--space-xl);
}

.stack-exception,
.stack-exception + * {
    margin-block-start: var(--space-md);
}

.waving-hand {
    animation-name: wave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    display: inline-block;
    transform-origin: 75% 75%;
    margin-inline-end: 0.5rem;
}

@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
    }
    7% {
        transform: rotate(15deg);
    }
    14% {
        transform: rotate(-5deg);
    }
    21% {
        transform: rotate(15deg);
    }
    28% {
        transform: rotate(0deg);
    }
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 45ch;
    flex-grow: 1;
}

.avatar-wrapper {
    flex-grow: 1;
}

.avatar {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 8rem;
    background-color: var(--transparent-primary-color);
    aspect-ratio: 1 / 1;
    box-shadow: -12px -6px 32px var(--transparent-primary-color), 12px 6px 32px var(--transparent-secondary-color);
}

.about-links {
    font-size: 0.75em;
}

.about-links > li {
    --text-color: #1c1c1ccc;
    display: flex;
    background: var(--primary-lighter-color);
    border-radius: 5px;
    padding: 0.5em 0.75em;
    align-items: center;
    color: var(--text-color);
}

.about-links > li:hover {
    background: var(--primary-lighter-color-hover);
    text-decoration: underline;
}

.about-links a {
    text-decoration: none;
    font-weight: bold;
}


.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
}

.video-container {
    display: flex;
}

.video-section {
    justify-content: space-between;
}

.video-section video {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
}

.video-section p {
    font-size: 0.85em;
}

.switcher {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-md);
    row-gap: var(--space-md);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((35rem - 100%) * 999);
}

@counter-style blogs {
    system: cyclic;
    symbols: 🗒️;
    suffix: " ";
}

ul {
    list-style-type: none;
}

.blog-list {
    padding-inline-start: 2em;
    list-style-type: disc;
    font-weight: bold;
    font-size: 1.125em;
}
.blog-list a {
    color: var(--primary-color-text-safe);
}

.blog-list a:visited {
    color: var(--secondary-color-text-safe)
}

@supports (list-style-type: blogs) {
    .blog-list {
        list-style-type: blogs;
    }
}

.subheader {
    display: block;
    font-weight: normal;
    font-size: 0.75em;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-sm);
}

.photo-grid img {
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

code.language-plaintext {
    background-color: rgb(211 99 247 / 30%);
    padding: 0.125em;
    border-radius: 3px;
}

article img {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

article p {
    font-family: Georgia, serif;
}

article h1 {
    max-width: 30ch;
}

pre {
    padding: 1rem;
}

.hero-img {
    box-shadow: none;
    border-radius: 8px;
    aspect-ratio: 3 / 2;
    background-color: var(--transparent-primary-color);
}

footer {
    border-top: rgb(187, 187, 187) 1px solid;
    padding-block-start: 5rem;
    padding-block-end: 5rem;
}

footer p {
    color: var(--text-color-light);
}

.footer-title {
    font-weight: bold;
    line-height: 1.5;
}