:root {
    --text-color: #222;
    --text-color-light: #444;
    --s1: 1rem;
    color: var(--text-color);
    font-size: calc(0.33vw + 1em);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    color: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    max-width: 45rem;
    margin: auto;
    padding: 2.25rem 5vw;
}

header {
    align-items: baseline;
}

header h1 {
    font-size: 1.5em;
}

header h1 {
    flex-grow: 1;
    flex-basis: 15rem;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li + li {
    padding-inline-start: 16px;
}

nav a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color-light);
}

nav a.current-page::after {
    content: '';
    position: absolute;
    border: solid #d363f7 2px;
    border-radius: 2px;
    left: 0;
    right: 0;
    bottom: -6px;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--s1);
}