---
import "../styles/base.css";
import Layout from "../layouts/Layout.astro";
import aviImg from "../assets/avi.jpg";
import { Image } from "astro:assets";
import WavingHand from '../components/WavingHand.astro'
---

<Layout>
	<main class="flow">
		<section class="flow">
			<div>
				<Image
					src={aviImg}
					width={120}
					height={120}
					densities={[1, 2]}
					alt={"test image"}
					class="avatar"
				/>
			</div>
			<h1> <WavingHand /> Hey, I'm Casey</h1>
			<p>
				I'm a front-end web developer living in Portland, OR. I spend my
				free time cycling, listening to music and hanging out with my
				cat, Monad.
			</p>
		</section>

		<h2>Where I've Worked</h2>
		<p>
			I leverage my knowledge of web performance and accessibility to help
			build fast and resilient websites.
		</p>
		<h3>
			<a href="www.ebay.com">eBay</a>
			<span class="subheader">2024-Present</span>
		</h3>
		<p>
			As a <b>Senior Front-end Engineer</b>, I build web experiences
			within the Fashion focus category at eBay.
		</p>
		<h3>
			<a href="www.rei.com">REI</a>
			<span class="subheader">2022-Present</span>
		</h3>
		<p>
			As a <b>Senior Web Performance Engineer</b>, I lead initiatives to
			improve site speed for REI customers.
		</p>
		<h3>
			<a href="www.usaa.com">USAA</a>
			<span class="subheader">2017-2022</span>
		</h3>
		<p>
			As a <b>Senior Front-end Web Developer</b>, I built and maintained
			the customer account dashboard.
		</p>
	</main>
</Layout>

<style>
	main {
		padding-top: 72px;
	}
</style>
