---
import Layout from "../layouts/Layout.astro";
import aviImg from "../assets/avi.jpg";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import WavingHand from "../components/WavingHand.astro";

const posts = await getCollection('blog')
---

<Layout>
	<main class="flow">
		<section class="flow">
			<div>
				<Image
					src={aviImg}
					width={120}
					height={120}
					densities={[1, 2]}
					alt={"test image"}
					class="avatar"
					loading={"eager"}
				/>
			</div>
			<h1><WavingHand /> Hey, I'm Casey</h1>
			<p>
				I'm a front-end web developer living in <b>Portland, OR</b>. I spend my
				free time cycling, listening to music and hanging out with my
				cat, Monad. I currently build web experiences for the fashion
				focus category at <a href="www.ebay.com">eBay 🛍️</a>.
			</p>
			<p>
				Previously, I worked on web performance at <a href="www.rei.com">REI 🌲</a>
			</p>
		</section>
		<h2>Blog</h2>
		<ul class="flow">
			{
				posts.map(post => (
					<li>
						<a href={`/blog/${post.id}`}>{post.data.title}</a>
						<p class="subheader">{post.data.description}</p>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
