:root {
    --primary-color: #7fc2c7;
    --primary-text-color: #5f898f;
    --secondary-color: #611cd44f;
    --secondary-color-dark: #4e0db6e0;
    --light-text-color: #000000b8;
}

@font-face {
    font-family: 'Quicksand';
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Quicksand/Quicksand-Medium.ttf");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 1.2rem;
}

body {
    margin: 32px 0;
}

a {
    color: var(--primary-text-color);
    display: inline-block;
    font-weight: 700;
}

a:visited {
    color: var(--secondary-color-dark);
}

.root-wrapper {
    max-width: 40rem;
    width: 100%; 
    margin: 0 auto;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
}

h1 {
    font-size: 3em;
}

h1 .subtitle-text {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-size: 1rem;
        font-style: italic;
        font-weight: 400;
        color: var(--light-text-color);
        margin-block-start: 0;
}

h2 {
    letter-spacing: 0.2ch;
    color: var(--light-text-color);
    margin-block-end: 0.75em;
    font-size: 1.25rem;

}
main img {
    width: 90%;
    border-radius: 8px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    box-shadow: 12px 12px 2px 1px var(--secondary-color);
}


.stack > * + * { 
    margin-block-start: var(--stack-space, 1.5rem);
}

.stack-exception, .stack-exception + * {
    --stack-space: 3rem;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    --cluster-space: 1rem;
    margin: calc(var(--cluster-space) / 2 * -1);
    padding: 0;
}

.cluster > * {
    margin: calc(var(--cluster-space) / 2);
}