:root {
    --primary-color: #7fc2c7;
    --primary-text-color: #5f898f;
    --secondary-color: #611cd44f;
    --secondary-color-dark: #4e0db6e0;
    --light-text-color: #000000b8;
}

@font-face {
    font-family: 'Quicksand';
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Quicksand/Quicksand-Medium.ttf");
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe
}

body {
    margin: 0;
}

a {
    color: var(--primary-text-color);
    display: inline-block;
    font-weight: 700;
}

a:visited {
    color: var(--secondary-color-dark);
}

main * + *:not(p) {
    margin: 2rem 0 2rem;
}

.main-grid {
    width: 100vw;
    display: grid;
    grid-template-columns: minmax(24px, 1fr) minmax(min-content, 40rem) minmax(24px, 1fr); 
    grid-template-rows: 5vw min-content min-content 5rem 1fr 5vw;
    grid-template-areas: 
        '. . .'
        '. title .'
        '. social .'
        '. . .'
        ' . main .'
        '. . .'
}

.title-text {
    grid-area: title;
    font-size: 2.5em;
    font-family: 'Quicksand', Arial, sans-serif;
    margin-block-end: 0;
}

.subtitle-text {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    margin-block-end: 1.5em;
    color: var(--light-text-color);
}

.horizontal-list {
    padding: 0;
    display: inline;
    margin: 0;
}

.horizontal-list > * + * {
    margin-inline-start: 1em;
}

[data-name="social-media"] {
    grid-area: social;
}

.horizontal-list li {
    display: inline;
    line-height: 2;
}

.external-link {
    list-style: none;
}

main {
    grid-area: main;
}

section p {
    line-height: 1.5;
}

section ul {
    margin-block-start: 1rem;
}

section ul li {
    margin: 0;
    line-height: 1.5;
}

.section-header {
    font-size: 0.9em;
    letter-spacing: 0.2ch;
    font-family: 'Quicksand', Arial, sans-serif;
    color: var(--light-text-color);
}

main img {
    display: block;
    width: 90%;
    border-radius: 8px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    box-shadow: 12px 12px 2px 1px var(--secondary-color);
}

footer {
    grid-area: ft;
}