---
layout: default
---
<style>
    .hero-img {
        border-radius: 8px;
    }

    article p {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    blockquote {
        font-style: italic;
        font-size: var(--step-font--1);
    }

    a#blog {
        text-decoration-color: var(--color-secondary);
    }

    p>code {
        background-color: var(--transparent-secondary-color);
        font-size: 0.8em;
        padding-inline: 0.25em;
        border-radius: 3px;
    }

    img {
        margin-inline: auto;
        margin-block: var(--space-m);
    }

    table {
        border-collapse: collapse;
        margin: 1em 1em;
        border: 1px solid #CCC;
    }

    table thead {
        background-color: #EEE;
    }

    table thead td {
        color: #666;
    }

    table td {
        padding: 0.5em 1em;
        border: 1px solid #CCC;
    }
</style>
<article class="flow">
    <h1>
        {{page.title}}
        <span class="subheader">{{page.date | date_to_string }}</span>
    </h1>
    {% if page.hero-img %}
    <img class="hero-img" src="{{page.hero-img}}" />
    {% endif %}
    {{content}}
</article>